* {
    box-sizing: border-box;
}

html, body {
    background: #FFFFFA;
    font: 16px/1.5 Arial, sans-serif;
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100%;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

#preHeader {
    height: 2rem;
    background: #D90429;
}

.navBar {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    background: rgba(0, 0, 0, 0);
}

.navSolida {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background: #FFFFFA;
}

.navBar ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
    justify-content: flex-end;
}

.navBar img {
    position: absolute;
    height: 2.5rem;
    top: 50%;
    transform: translate(10%, -50%);
}

.navSolida img {
    filter: invert(100%);
}

.navBar li {
    display: inline-block;
}

.navBar a {
    text-decoration: none;
    color: #FFF;
}

.navSolida a {
    color: #000;
}

.navBar a:hover {
    font-weight: lighter;
}

.contenedorFullScreen {
    width: 100%;
    height: calc(100vh - 2rem);
}

#contenedorBienvenida {
    /* background: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contenedorBienvenida > p {
    font-size: 3rem;
    overflow: hidden;
}

#contenedorBienvenida > div {
    padding: 1rem 5rem;
    margin-bottom: 10rem;
    /* background: linear-gradient(0.25turn, #f41, #f14);
    background: #D90429; */
    background: #DDD8C4;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
}

#contenedorBienvenida a {
    text-decoration: none;
    background: #FFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorBienvenida a img {
    height: 85%;
}

#contenedorBienvenida select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    max-width: 10rem;
    cursor: pointer;
    height: 2.5rem;
    text-align-last: center;
}

#contenedorBienvenida select:hover,
#contenedorBienvenida select:focus {
    border-color: #777;
}

#contenedorInicio {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("imgs/p2f1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#contenedorInicio > div {
    padding-bottom: 30vh;
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#contenedorInicio > div > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0.3rem;
}

#contenedorInicio h1 {
    margin: 0;
    color: #FFF;
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
}

#contenedorInicio a {
    text-decoration: none;
    border: solid 1px;
    border-radius: 5px;
    color: #FFF;
    padding: calc(0.4rem - 1px) 1rem calc(0.4rem - 1px) 1rem;
    font-size: 1.3rem;
    transition: 0.3s ease-out;
    text-align: center;
}

#contenedorInicio a:first-of-type{
    background:#D90429;
    border-color: #D90429;
}

#contenedorInicio a:hover{
    flex-grow: 1;
}